body{
    background-image:url("https://img-cdn.inc.com/image/upload/f_webp,c_fit,w_1920,q_auto/images/panoramic/getty_1224500457_c7gd6b.jpg");
    background-size:auto;
    background-repeat: no-repeat;
}